flows.json
[{"id":"a5d853b8.e3bee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7bdd9d4.297168","type":"ui_form","z":"a5d853b8.e3bee","name":"","label":"","group":"6155ffdb.6fa11","order":1,"width":0,"height":0,"options":[{"label":"Enter the name ","value":"Name","type":"text","required":true,"rows":null},{"label":"enter email","value":"email","type":"email","required":true,"rows":null},{"label":"enter password","value":"pwd","type":"password","required":true,"rows":null},{"label":"enter phone no.","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"Name":"","email":"","pwd":"","phno":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":260,"wires":[["673d39c5.530ea8","cc910c10.a87a2"]]},{"id":"f1191f83.18177","type":"debug","z":"a5d853b8.e3bee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":280,"wires":[]},{"id":"673d39c5.530ea8","type":"function","z":"a5d853b8.e3bee","name":"","func":"msg.payload= \"Hey \"+  msg.payload.name+\" Registration Successfull\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":400,"wires":[["f1191f83.18177","c16c2658.d6bcc8"]]},{"id":"c16c2658.d6bcc8","type":"ui_text","z":"a5d853b8.e3bee","group":"c67a81b7.e70db","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":400,"wires":[]},{"id":"a0192cb1.e6cea","type":"ui_text","z":"a5d853b8.e3bee","group":"19e16fc4.723a9","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":240,"wires":[]},{"id":"cc910c10.a87a2","type":"function","z":"a5d853b8.e3bee","name":"","func":"msg.payload=\"Hey welcome\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["a0192cb1.e6cea"]]},{"id":"6155ffdb.6fa11","type":"ui_group","z":"","name":"Form","tab":"e9268991.cc4918","order":1,"disp":true,"width":"6","collapse":false},{"id":"c67a81b7.e70db","type":"ui_group","z":"","name":"Status","tab":"e9268991.cc4918","order":2,"disp":true,"width":"6","collapse":false},{"id":"19e16fc4.723a9","type":"ui_group","z":"","name":"Message","tab":"147e65e7.a0825a","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9268991.cc4918","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"147e65e7.a0825a","type":"ui_tab","z":"","name":"Welcome","icon":"dashboard","disabled":false,"hidden":false}]